body{
	padding: 0;
	margin: 0;
	border: 0;
	width: 100%;
}
#header{
	background: #3F3F3F;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	height: 60px;
}
h1{
	padding: 4px;
	margin: 4px;
	color: white;
}
h2{
	padding: 4px;
	margin: 4px;
}
#keylogger{
	background: gray;
	color: white;
}
#warn{
	background: #FCF101;
	color: black;
}